User total score:
= @survey.map{ |s| s.total_score[:final] if s.finalized? }.sum / @survey.count

%table
	%tr
		%th 
			%strong External-Id 
		%th
			%strong Score
		%th 
			%strong Status	
		%th 
			%strong Last Update
	- @survey.each do |survey|
		%tr
			%td
				= link_to survey.external_id, "dashboard/#{survey.external_id}"
			%td
				= survey.total_score
			%td
				= survey.state
			%td
				= survey.updated_at