User total score:
= (@surveys.map{ |s| s.total_score[:final] if s.finalized? }.sum / @surveys.count) * 10 if @surveys.any?

%table
	%tr
		%th 
			%strong External-Id 
		%th
			%strong Score
		%th 
			%strong Status	
		%th 
			%strong Last Update
	- @surveys.each do |survey|
		%tr
			%td
				= link_to survey.external_id, "dashboard/#{survey.external_id}"
			%td
				= survey.total_score[:final] * 10
			%td
				= survey.state
			%td
				= survey.updated_at
